<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="alert alert-info">
	<div class="starter-template">
	  <center>
	  <h1>GRasS<sup>devel</sup></h1>
	  <p>ほげほげ</p>
	  <%= link_to '計測をはじめる', managements_path, :class => "btn btn-primary btn-lg" %>
	  <br>
	  <br>
	  <%= link_to 'データをみる', measurements_path, :class => "btn btn-primary btn-lg" %>
	  </center>
	</div>
      </div>
    </div>
  </div>
</div>

